<footer class="f-info d-flex flex-column py-md-5 footer flex-md-row bg-dark pt-3 text-light justify-content-between px-lg-5 px-1 align-items-center fs-4 gap-3 ">
  <div class="f-info-socials d-flex gap-4 gap-md-3 mb-3">
    <a href="#" class="text-light rounded "><i class="fa-brands fa-square-facebook"></i></a>
    <a href="#" class="text-light"><i class="fa-brands fa-instagram"></i></a>
    <a href="#" class="text-light"><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="f-info-brand text-center mb-3 ">&copy;WanderLust Private Limited & Company</div>
  <div class="f-info-links d-flex gap-1 mb-3">
    <a href="#" class="text-light text-decoration-none">Privacy</a>&nbsp;|&nbsp;<a class="text-white text-decoration-none text-decoration-underline-hover" href="#">Terms</a>
  </div>
</footer>
