<%- layout("layouts/boilerplate.ejs") %>

  <body>
    <div class="alert mx-3 card overflow-none mt-3 text-wrap mb-3 alert-danger d-flex align-items-center row"
      role="alert">
      <h4 col-12>
        <%= err.message %>
      </h4>
      <hr />
      <p>
        <%= err.stack %>
      </p>
    </div>
  </body>