<%- layout("/layouts/boilerplate.ejs") %>
    <div class="row mb-3">
        <div class="col-12 col-md-10 col-lg-8 col-xl-7 mx-auto mt-3">
            <div class="card">
                <h5 class="card-header">Task6</h5>
                <div class="card-body">
                    <h5 class="card-title">Objective</h5>
                    <p class="card-text">Integrate a database and
                        implement user authentication for secure
                        data handling.</p>
                    <hr>
                    <h5 class="card-title">Steps</h5>
                    <p class="card-text">
                        Integrate a database (e.g., MongoDB,
                        MySQL) for storing and retrieving form
                        data.
                    </p>
                    <p class="card-text">

                        Implement user authentication on the
                        server
                    </p>

                    <p class="card-text">

                        Secure your API endpoints by adding
                        authorization checks.
                    </p>

                    <a href="/listings" class="btn btn-primary">See Listings</a>
                    <a href="/lintings/new" class=" ms-3 btn btn-secondary">Create your Listing</a>
                </div>
            </div>
        </div>
    </div>